:root {
  --green: #00ff00;
  --gray: #333333;
  --black: #000000;
}
body {
  font-size: 16px;
}
#editor {
  width: 95%;
  font-size: 1rem;
  border: var(--gray) 5px solid;
  color: var(--green);
  background-color: var(--black);
  padding: 1em;
  margin: auto;
}
